:root {
    --light-blue: #D4EBF8;
    --shade-blue: #1F509A;
    --dark-blue: #0A3981;
    --capy-color: #E38E49;
}

body {
    background-color: var(--light-blue);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.message-counter {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 1em;
}
.message-counter p {
    font-size: 2em;
    color: var(--dark-blue);
    margin: 0; 
}
.counter {
    font-size: 3.5em;
    font-weight: bold;
    color: var(--shade-blue);
    margin: 0;
}

.image {
    width: 40%;
    margin-top: 3em; 
}

@media (max-width: 768px) { 
    .image {
        width: 50%; 
    }
    .message-counter p {
        font-size: 1.5em; 
    }
    .counter {
        font-size: 3em; 
    }
}

